.why__us__contents{
  color: #ffffff;

  .sec2__testimonial{

    margin: 1em 0em 1em 0em;
  }

  i{
    color: #F5FF27;
    font-size: 30px;
  }

  h6{
    color: #F5FF27;
  }

  h4{
    font-size: 30px;
  }

  h2{
    font-size: 54px;
  }
}
