<div class="footer">
  <div class="container p-5">
    <div class="footer--items d-flex align-items-center justify-content-between">
      <div class="footer--content">
        <h2>Newsletter</h2>
        <p>Signup our newsletter to get update information, insight or news.</p>
      </div>
      <form action="">
        <input class="name" type="text" placeholder="Name">
        <input class="email" type="text" placeholder="Email">

        <button class="btn-signup" type="submit"><span class="mr-2"><i class="fa-regular fa-envelope"></i></span>Sign Up</button>
      </form>
    </div>
  </div>
</div>
